main
{
  margin:0;
  font-family:bookman;

}

h2{

color: #6B5F67;
Font-size: large;
  font-family: bookman;
}

body{
background-color: #CEB5A7;
}

p {
  border: 5 px solid #ADAABF;
  padding: 30px;
}

figcaption {
  font-size: 50%;
}


nav a {
  color: black;
  font-family: bookman;
}

nav a: hover {
  text-decoration: underline;
  
  nav a: active {
    color: black;
  }
  
  nav a: visited {
    color: #ADAABF;
  }
    
  
  



