main
{
  margin:0;
  font-family:helvetica;

}
nav a {
  color: #DB5461;
  font-family: arial black;
}

h2{

color: #6B5F67;
Font-size: large;
  font-family:arial black ;
}

a {
  font-size: large;
  font-family: helvetica black;
  color: #DB5461;
}

body{
background-color: #CEB5A7;
}

figcaption {
  font-size: 80%;
}
