main
{
  margin:0;
  font-family:bookman;

}

h2{

color: #6B5F67;
Font size: large;
  font-family: bookman;
}

body{
background-color: #CEB5A7;
}

p1 {
  border: 5 px solid #ADAABF;
  padding: 30px;
}

p2 {
  border: 5 px solid #ADAABF;
  padding: 30 px;
}

p3 {
  border: 5 px solid #ADAABF;
  padding: 30 px;
}

p4{
  border: 5 px solid #ADAABF;
  padding: 30 px; 
}



nav {
  color: #996666;
  text-decoration: underline;

}



